---
title: DAE - Un apparecchio semplice che salva una vita
autore: Luca Nicola
date: 2014-04-06
published: true
tags: dae, apparecchio, teconlogia
image: "https://lh3.googleusercontent.com/-1R4f76Xc29o/U0URYGPPp4I/AAAAAAAAlas/TuTEvk8oh8g/w1040-h693-no/FPX8911.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>