---
title: Morosini poteva essere salvato
autore: Luca Nicola
date: 2014-04-01
published: true
tags: "personaggi, caso reale"
category: News
image: "https://lh3.googleusercontent.com/-l7FcGxRe8k4/U0URpRly9KI/AAAAAAAAldE/7fw0tJTqLig/w1040-h693-no/FPX9407.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>