---
title: Morosini poteva essere salvato
autore: Luca Nicola
date: 2014-04-01
published: true
tags: "personaggi, caso reale"
category: News
image: "https://lh5.googleusercontent.com/-18HRAZeGeCk/U0UR-DstzOI/AAAAAAAAlg4/SYoLzK_7UcE/w1040-h693-no/PH02182.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>