@import "settings";
@import "foundation.scss";

.right-menu{
    border-left: 2px solid $crumb-border-color;
}

.blog-metadata{
    margin-bottom: rem-calc(10px);
    font-size: 80%;
    font-style: italic;
}

.index {
  img {
    padding-bottom: rem-calc(20px);
  }
}

.blog {
    .abstract{
        font-style: italic;
        color: scale-color($body-font-color, $lightness: 35%);
        margin-top: rem-calc(10px);
    }
    .padding {
        padding-bottom: rem-calc(20px);
    }

}
