<% wrap_layout :layout do %>

    <%= partial(:breadcrumbs, :locals => { :current_page => current_page}) %>

    <div class="row">
        <!-- Main Blog Content -->
        <div class="large-9 columns post" role="content">

            <%= partial(:header_post, :locals => { :article => current_page}) %>

            <%= yield %>

        </div>

        <!-- End Main Content -->


        <!-- Sidebar -->

        <%= partial(:aside) %>


    </div>

<% end %>