<% wrap_layout :layout do%>

    <div class="row">
        <div class="large-12 columns">
            <ul class="example-orbit" data-orbit>
                <li><img src=
                "https://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg"></li>
                <li><img src=
                "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
                <li><img src=
                "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="large-12 columns" role="content">

            <%= yield %>

        </div>

    </div>

<% end %>