<% wrap_layout :layout do%>

    <div class="row">
        <div class="large-12 columns slide">
            <ul data-orbit data-options="animation:slide;
                                         pause_on_hover:true;
                                         next_on_click: true;
                                         slide_number: false;
                                         timer_show_progress_bar: false;
                                         navigation_arrows:false;
                                         bullets:false;">

                <% blog.articles[0...1].each do |article| %>

                    <li>
                        <% link_to article do %>
                            <%= tag :img, :src => article.metadata[:page]["image"], :title => article.title %>
                        <% end %>
                        <div class="my-orbit-caption">
                            <%= partial(:header_post, :locals => { :article => article}) %>
                        </div>
                    </li>

                <% end %>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="large-12 columns" role="content">

            <%= yield %>

        </div>

    </div>

<% end %>