<div class="row">
    <div class="small-12 columns">
        <ul class="breadcrumbs">
            <li><%= link_to 'Home', '/' %></li>
            <% if current_page.parent %>
                <li><%= link_to current_page.parent.metadata[:page]['title'], current_page.parent %></li>
            <% end %>
         </ul>
    </div>
</div>