<h3><%= link_to article.title, article %></h3>
<h6 class="subheader blog-metadata">Scritto da <a href="#"><%= article.metadata[:page]["autore"] %></a> on <%= article.date.strftime('%b %e %Y') %>.</h6>
